<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>맛집 글쓰기</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<form action="/community/new" method="post">
    이미지 :
    <br>
    태그 : <input type="text" name="communitytag">  <br>
    종류 : <select name ="communitykind" >
            <option value="운동">운동</option>
            <option value="여행">여행</option>
            <option value="레저스포츠">레저스포츠</option>
            <option value="맛집">맛집</option>
            <option value="그 외">그 외</option>
            </select>                               <!--<input type="text" name="communitykind">  <br>-->
    <br>
    가게위치 : <input type="text" name="communitylocation">  <br>
    내용 : <input type="text" name="communitycontent">  <br>
    비용 : <input type="text" name="communityprice">  <br>

    <input type="submit" value="글쓰기">


</form>
</body>
</html>