<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>찾은 맛집 정보</title>
</head>
<body>
<p th:text="'ID : '+${member.communityid}"></p>   <!-- ""안에 ''사용하여 메세지 출력과 thymeleaf사용하여 값 출력 , member는 controller에서 설정한 객체 이름 -->
<p th:text="'태그 : '+${member.communitytag}"></p><hr>
<p th:text="'분야 : '+${member.communitykind}"></p>
<p th:text="'가게위치 : '+${member.communitylocation}"></p>
<p th:text="'내용 : '+${member.communitycontent}"></p>
<p th:text="'가격 : '+${member.communityprice}"></p>

</body>
</html>