<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>맛집 전체 출력</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>LOCATION</th>
        <th>MENU</th>
        <th>PRICE</th>
        <th>TAG</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each ="imformation : ${data}">     <!-- imformation 변수안에 data를 for:each문을 통해 모든 값을 반복하여 넣는다. -->
        <td th:text="${imformation.id}"></td>      <!-- imformation변수안에 id값을 넣는다. -->
        <td th:text="${imformation.name}"></td>      <!-- imformation변수 안에 name값을 넣는다. -->
        <td th:text="${imformation.location}"></td>
        <td th:text="${imformation.menu}"></td>
        <td th:text="${imformation.price}"></td>
        <td th:text="${imformation.tag}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>