<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>버킷리스트</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <div th:replace="~{include/TopMenuService :: TopMenuService}"></div>
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-3">
                    <div class="d-flex align-items-center mt-lg-5 mb-4">
                        <div class="ms-3">
                            <!-- 작성자 -->
                            <div class="fw-bold" th:text="${join.join_writer}">작성자</div>
                            <!-- 메뉴 목록이름 -->
                            <div class="text-muted">양동이 살펴보기</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- 제목 -->
                            <h1 class="fw-bolder mb-1" th:text="${join.join_subject}">제목</h1>
                            <!-- 작성일 -->
                            <div class="text-muted fst-italic mb-2" th:text="${join.join_date}">작성일</div>
                        </header>
                        <!-- 파일업로드 -->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                        <!-- 글 작성 문단-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4" th:text="${join.join_text}" >글내용</p>
                        </section>
                    </article>
                    <!-- 댓글항목 -->
                    <section>
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- 댓글폼 -->
                                <form class="mb-4" th:action="@{|/join/comment/${join_idx}|}" method="post" >
                                    <textarea class="form-control" rows="3" id="comment_text" name="comment_text" placeholder="답글을 달아보세요!"></textarea>
                                    <input type="hidden" th:field="${join.join_idx}">
                                    <button class="w-100 btn btn-primary btn-lg" type="submit">답글
                                        등록</button>
                                </form>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4" th:each="comment : ${comments}">
                                    <!-- 답글-->
                                    <div class="ms-3" >
                                        <div class="d-flex mt-4">
                                            <div class="ms-3">
                                                <div class="fw-bold" th:text="${comment.comment_writer}">작성자</div>
                                                <div th:text="${comment.comment_text}"> 답글내용</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
<div th:replace="~{include/BottomMenuService :: BottomMenuService}"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
