<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
 .container {
 max-width: 560px;
 }
 </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>글쓰기</h2>
    </div>

    <form  th:action method="post">
        <div>
            글을 입력하세요
            <textarea rows="5" id="text" name="text" class="form-control" ></textarea>
        </div>
        <div>
            <label for="cost">비용</label>
            <input type="text" id="cost" name="cost" class="form-control"
                   placeholder="비용 입력하세요">
        </div>
        <div>
            <label for="party">인원수</label>
            <input type="text" id="party" name="party" class="form-control" placeholder="인원수 입력하세요">
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">글
                    등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/board}'|"
                        type="button">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>