<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>고객센터</title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <style>
        .center {
            text-align: center;
            margin: 0 auto;
            justify-content: center;
            align-items: center;

        }
    </style>
</head>

<body>

<!-- 상단 메뉴 부분 -->
<div th:replace="~{include/TopMenuService :: TopMenuService}"></div>
<div class="center">
    <br><br><br><br><br><br>
    <h2> 고객센터 </h2>

    <p class="info">이 글은 비밀글입니다. <strong>비밀번호를 입력하여 주세요.</strong><br /></p>
    <form th:action method="post">
        <label for="customerPassword">비밀번호</label>
        <input id="customerPassword" name="customerPassword" type="password" />
        <input type="hidden" th:field="${customer.customerIdx}">
    <p class="button">
        <button type="button"  class="btn btn-light" th:onclick="|location.href='@{/customer}'|">목록</button>
        <button type="submit"  class="btn btn-secondary">확인</button>
    </p>
    </form>
</div>

<div th:replace="~{include/BottomMenuService :: BottomMenuService}"></div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>

</html>