<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장소 전체 출력</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>장소이름</th>
        <th>장소위치</th>
        <th>메모</th>
        <th>태그</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each ="imformation : ${data}">     <!-- imformation 변수안에 data를 for:each문을 통해 모든 값을 반복하여 넣는다. -->
        <td th:text="${imformation.placeid}"></td>      <!-- imformation변수안에 id값을 넣는다. -->
        <td th:text="${imformation.placename}"></td>      <!-- imformation변수 안에 name값을 넣는다. -->
        <td th:text="${imformation.placelocation}"></td>
        <td th:text="${imformation.placecontent}"></td>
        <td th:text="${imformation.placetag}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>