<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css2/styles.css" rel="stylesheet" />
</head>
<body>

<!-- Navigation-->
<div th:replace="~{include/TopMenuService :: TopMenuService}" ></div>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">참여하기</h1>
            <p class="lead fw-normal text-white-50 mb-0">혼자하기 어려운 버킷리스트 같이해요~</p>
        </div>
    </div>
</header>
<!-- Section-->

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="text-right" align="right" style = "padding: 0px 10px 20px 0px;">
            <a th:href="@{|/participation/write|}" class="btn btn-primary">글쓰기</a>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" th:each="item : ${items}">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="img-fluid" th:if="${item.participation_file != null}" th:src="|/imagePath/${item.participation_file}|" alt="img" />
                    <img class="img-fluid" th:unless="${item.participation_file != null}" src="./imgs/noImage.png" alt="img" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a class="text-decoration-none link-dark stretched-link" th:href="@{|/participation/${item.participationidx}|}"><div class="h5 card-title mb-3" th:text="${item.participation_subject}">Blog post title</div></a>
                            <div class="fw-bold" th:text="${item.participation_tag}">태그</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="d-none d-md-block">
    <ul class="pagination justify-content-center">
        <li class="page-item"  th:classappend="${1 == items.pageable.pageNumber + 1}? 'disabled'">
            <a href="#" th:href="@{/participation(page=${items.pageable.pageNumber -1})}" class="page-link" >이전</a>
        </li>
        <li class="page-item" th:each="page : ${#numbers.sequence(startPage,endPage)}">
            <a href="#" th:href="@{/participation(page=${page}-1)}" class="page-link" th:text="${page}">1</a>
        </li>

        <li class="page-item" th:classappend="${items.totalPages == items.pageable.pageNumber + 1}? 'disabled'">
            <a href="#"  th:href="@{/participation(page=${items.pageable.pageNumber +1})}" class="page-link">다음</a>
        </li>
    </ul>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../js2/scripts.js"></script>
</body>
</html>
